:root {
    --text-primary: #273240;
    --text-secondary: hsl(220, 9%, 50%);
    --background-color: #031935;
    --white: #ffffff;
    --fade: #ccc;
    --fade-secondary: #eaecef;
    --blue: #216fed;
    --green: #32d16d;
    --orange: #ff8723;
    --ghost: #e5e5e5;
    --border-input: #707070;
    --main-bg: #f9f9f9;
    --border-radius: 7px;
    --full: 100%;
    --nav-width: 280px;
    --box-shadow: 0 0 24px rgba(32, 33, 36, 0.1);
    --wrapper-max-width: 1680px;
    --wrapper-min-width: 240px;
}
  